:root {
    /* Colors - dark theme */
    --color-bg: #1a1b26;
    --color-text: #b6c4fc;
    --color-heading: #c0caf5;
    --color-link: #7aa2f7;
    --color-link-hover: #ade8ff;
    
    /* Typography */
    --font-mono: 'JetBrains Mono', 'Fira Code', 'Menlo', 'Monaco', monospace;
    --font-sans: 'Inter', 'SF Pro Display', system-ui, sans-serif;
    --font-header: 'Funnel Display', 'Inter', 'SF Pro Display', system-ui, sans-serif;

  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-mono);
    line-height: 1.6;
    width: 85%;
    font-size: large;
    margin: 0 auto;
  }
  
  p, h1, h2, h3, h4, h5, h6, li {
    margin-left: 20px; /* 左边距 */
    margin-right: 20px; /* 右边距 */
}


  h1, h2, h3, h4, h5, h6 {
    color: var(--color-heading);
    font-family: var(--font-header);
  }

blockquote {
    background-color: #0c5c6e; /* Example background color */
    border-left: 4px solid #ccc;
    padding: 3px;
    margin: 10px 0;
    font-style: italic;
    position: relative;
}

blockquote::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: #666; /* Example color for underline */
}

  mark {
    background-color: transparent;
    color: inherit;
    background-image: linear-gradient(#005e1e88, #00b038);
    background-repeat: no-repeat;
    background-size: auto 33%;
    background-position: 0 100%;
  }
  
  mark.animate {
    animation: 2s highlight ease-in-out forwards;
  }
  
  @keyframes highlight {
    to {
      background-size: 100% 38%;
    }
  }
  
  a {
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  a:hover {
    color: var(--color-link-hover);
  }
.nav {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    border-bottom: 1px solid var(--color-link);
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 0rem;
    align-items: center;
}

.nav-item a {
    font-weight: bold;
    color: var(--color-link);
    text-decoration: none;
    transition: color 0.5s ease;
}

.nav-item a:hover {
    color: var(--color-link-hover);
}

/* links */
a {
  color: var(--accent-color);

  &.back-link {
    margin-bottom: var(--spacing-base);
  }

  & > img {
    border: var(--border-default);
  }

  & svg {
    stroke: var(--accent-color);
  }

  &:is(:hover, :focus, :active) {
    color: var(--accent-color-hover);
    transition: color var(--transition-duration-default)
      var(--transition-ease-in-out);

    & > img {
      border: var(--border-default-hover);
      transition: border var(--transition-duration-default)
        var(--transition-ease-in-out);
    }

    & > svg {
      stroke: var(--accent-color-hover);
    }
  }
}
