</nav class="nav">
<ul class="nav-list">
  <li class="nav-item"><a href="{{ '/' | url }}">Home</a></li>
  <li class="nav-item"><a href="{{ '/about/' | url }}">About</a></li>
  <li class="nav-item"><a href="{{ '/projects/' | url }}">Projects</a></li>
  <li class="nav-item"><a href="{{ '/contact/' | url }}">Contact</a></li>
</ul>